.error-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .error-container {
    text-align: center;

    h1 {
      margin: 20px;
    }
  }
}
